<div class="mdc-card">
    <div class="card-body-padding">
        <h2 class="mdc-typography--headline6">{{node.host}}</h2>
        <h3 class="mdc-typography--subtitle2">{{node.region}}</h3>
        <h3 class="mdc-typography--subtitle2">{{node.image}}</h3>
    </div>
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            {{#if node.isRunning}}
            <button data-action="stop" data-type="{{type}}" class="icon-button mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">stop</i>
            </button>
            <button data-action="stop" data-type="{{type}}" class="icon-button mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">cloud_off</i>
            </button>
            <button data-action="shutdown" data-type="{{type}}" class="icon-button mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">settings_power</i>
            </button>
            {{/if}}

            {{#if node.isStopped}}
            <button data-action="start" data-type="{{type}}" class="icon-button mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded">
                <i class="material-icons mdc-icon-button__icon">play_circle_outline</i>
            </button>
            {{/if}}
        </div>
        <div class="mdc-card__action-icons">
            <button class="icon-button mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded"
                title="Add to favorites">
                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
            </button>
            <button class="icon-button mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                title="More options">
                more_vert
            </button>
        </div>
    </div>
</div>