<div class="mdc-layout-grid">
    <h2>{{title}}</h2>
  <div class="mdc-layout-grid__inner">
    {{#each edges}}
    <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-3">
        <div class="mdc-card">
            <div class="card-body-padding">
                <h2 class="mdc-typography--headline6">{{node.host}}</h2>
                <h3 class="mdc-typography--subtitle2">{{node.region}}</h3>
                <h3 class="mdc-typography--subtitle2">{{node.image}}</h3>
            </div>
            <div class="mdc-typography--body2 card-body-padding">
                <h4>Public Ips:</h4>
                <ul>
                    {{#each node.publicIps}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <h4>Private Ips:</h4>
                <ul>
                    {{#each node.privateIps}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="mdc-card__actions">
                <div class="mdc-card__action-buttons">
                    <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-surface mdc-ripple-radius-bounded">Stop</button>
                </div>
                <div class="mdc-card__action-icons">
                    <button class="icon-button mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-radius-unbounded" title="Add to favorites">
                        <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                    </button>
                    <button class="icon-button mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="More options">
                        more_vert
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
  </div>
</div>